<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Products
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let item of [1,2,3,4,5,6,7,8,9];let index=index">
      <span>{{index+1}}. </span>
      <ion-label>Product {{item}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
